*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.container{
    max-width: 1140px;
    margin: 0 auto;
   
}
.btn{
    padding: 16px 25px;
    background-color: rgba(221, 0, 0, 1);
    color: white;
    font-size: 20px;
    border: none;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* banner section */
.banner-content{
    padding: 50px 0 50px 60px;
    max-width: 568px;
}
.banner-content h3{
    font-size: 70px;
    margin-bottom: 20px;
    line-height: 70px;
   
}
.banner-content p{
    font-size: 16px;
    margin-bottom: 30px;
}
.banner-img img{
    width: 100%;
    
}
.banner-img{
    padding: 33px 17px 0 0;
}
.banner{
     background-color: black;
    color: white;
    display: flex;
      align-items: center;
    justify-content: space-between;
    gap: 81px;
    border-radius: 30px;
    margin: 50px auto;
}
/* main */
.main-section{
    display: flex;
    gap :55px;
}
.btn-section{
    max-width: 25%;
}
.btn-section{
    height: 312px;
    padding: 30px;
    background-color: black;
    border-radius: 10px;
}
.btn-section div button{
   width: 230px;
    height: 64px;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}
.btn-1{
    background-color: white;
    
}
.btn-3{
    background-color:#DD0000;
    color: white;
}
.carts{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   grid-column-gap: 26px;
   grid-row-gap: 15px;
}
 .item{
    padding: 20px;
}
.item-1{
    display: flex;
    justify-content: space-between;
    width: 130px;
    gap: 20px;
}
.item-2{
    display: flex;
    gap: 10px;
}

.cart img{
    width: 100%;
}
.cart{
 
    border: 1px solid rgba(0, 0, 0, 0.251);
}
.btn-4{
    padding: 4px 17px;
    font-size: 16px;
    margin-bottom: 15px;
}
.item h5{
    font-size: 18px;
    margin-bottom: 20px;
}
/*  Responssive */
@media screen and (min-width:576px) and (max-width:992px) {
    /* banner section */
    .container{
        max-width: 734px;
        margin: 0 auto;
    }
    .banner-img img{
        width: 323px;
        height: 340px;
    }
    .banner{
        gap: 0px;
    }
    .banner-content{
        padding: 20px 0 20px 30px;
    }
    .banner-content h3{
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .banner-content p{
        font-size: 14px;
        margin-bottom: 10px ;
    }
    .btn{
        padding: 12px;
        font-size: 14px;
    }
    .main-section{
        flex-direction: column;
        gap: 5px;
    }
    .carts{
        grid-template-columns: repeat(2,1fr);
    }
    .btn-section{
        display: flex;
        background-color: white;
        gap: 10px;
        height:130px;
        padding: 0;
    }
   .btn-1{
    background-color:rgba(128, 128, 128, 0.085);
   }
   .btn-section div button{
    max-width: 230px;
   }
   .btn-section div button{
   width: 230px;
    height: 64px;
    font-size: 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
}
}

@media screen and (max-width:576px) {
    /* banner section */
    .banner{
        flex-direction: column;
        text-align: center;
       align-items: center;
        padding: 10px;
        gap: 21px;
    }
    .banner-img{
      text-align: center;
      padding: 0;
    }
    .banner-content{
        padding: 0;
    }
    .banner-content h3{
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 8px;
        margin-top: 20px;
    }
    .carts{
        grid-template-columns: repeat(1,1fr);
    }
    .main-section{
        flex-direction: column;
      
    }
    .btn-section{
        background-color: white;
        width: 100%;
        margin: 0 0 0 40px ;
    }
    
     .btn-1{
    background-color:rgba(128, 128, 128, 0.085);
     padding: 5px;
   }
   .main-section{
    gap: 5px;
   }
}